<div class="post">
    <div class="header">
        <h1>Post Title</h1>

        <button routerLink="/" class="btn btn-link">Home page</button>
    </div>

    <div class="info">
        <strong>Author</strong>
        <small>12.09.2022</small>
    </div>

    <div>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto at aut beatae blanditiis consectetur consequuntur dicta dolorem doloremque doloribus ducimus eum eveniet ex excepturi fugiat fugit harum id incidunt iure iusto laborum laudantium libero, magni obcaecati provident quaerat quam quibusdam quos reprehenderit saepe, similique sit unde veritatis voluptate voluptates voluptatibus.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto at aut beatae blanditiis consectetur consequuntur dicta dolorem doloremque doloribus ducimus eum eveniet ex excepturi fugiat fugit harum id incidunt iure iusto laborum laudantium libero, magni obcaecati provident quaerat quam quibusdam quos reprehenderit saepe, similique sit unde veritatis voluptate voluptates voluptatibus.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto at aut beatae blanditiis consectetur consequuntur dicta dolorem doloremque doloribus ducimus eum eveniet ex excepturi fugiat fugit harum id incidunt iure iusto laborum laudantium libero, magni obcaecati provident quaerat quam quibusdam quos reprehenderit saepe, similique sit unde veritatis voluptate voluptates voluptatibus.</p>
    </div>
</div>
